/* FLATBUTTONS */

.flat-button {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    background: rgb(108, 109, 116);
    display: inline-block;
    padding: 7px 20px;
    margin: 10px 0px;
    border: 3px solid rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.flat-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* IMAGEBUTTONS */

.btn-container {
    display: flex;
    cursor: pointer;
}

.btn-container:hover {
    opacity: 0.5;
}

.custom-button {
    background-color: transparent !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-button {
    background-size: cover !important;
    width: 20px;
    height: 20px;
}

.btn-text {
    margin-left: 5px;
}

.restart-button {
    background: url("../../resources/restart.png") no-repeat;
}

.close-button {
    background: url("../../resources/close.png") no-repeat;
}

.add-button {
    background: url("../../resources/add.png") no-repeat;
}

.back-button {
    background: url("../../resources/back.png") no-repeat;
}

.save-button {
    background: url("../../resources/save.png") no-repeat;
}

.delete {
    background: url("../../resources/delete.jpg") no-repeat;
}