/* El formato es que el label aparece arriba y el input abajo, así se aprovecha mejor el espacio. */
.input-panel {
    float: left;
    display: flex;
    flex-direction: column;
    /* Un poco de mager hacia la derecha para separarlo del siguiente elemento en el formulario. */
    margin-right: 20px;
}

/* Separar un poco la alineación entre el label y el input, así se visualiza mejor. */
.input-panel > .my-input {
    margin-left: 3px;
}

.my-label {
    margin-bottom: 3px;
    font-size: 13px !important;
    font-weight: bold;
}

.my-input {
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 1px solid #ccc;
  }